<div class="sidebar">
        
<!-- ================== Research ====================================
	==================================================== -->
            
        <div class="sidebar-section">
            <h5><span>RESEARCH</span></h5>
            <ul style="list-none;">
            <li><a target="_top" href="{{ site.baseurl }}/research/MPC">Model Predictive Control</a></li>
            </ul>
        </div>

<!-- ================== NOTE ====================================
	==================================================== -->
        <div class="sidebar-section">
            <h5><span>Note</span></h5>
            <ul style="list-none;">
            <li><a target="_top" href="{{ site.baseurl }}/note/switched-system-basic">Switched System Basic</a></li>
            <li><a target="_top" href="{{ site.baseurl }}/note/mathjax">MathJax</a></li>
            </ul>
        </div>
            

            
</div>